body {
  background-color: yellow;
}

p {
  color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
}
ol {
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
}

table,
tr,
th,
td {
  border:black;
}
